body {
  font-family: "Lato", sans-serif !important;
  color: #000;
  font-weight: 300;
}

@media only screen and (max-width: 700px) {
  .title-super {
    font-size: 35px;
  }
}

@media only screen and (min-width: 701px) {
  .title-super {
    font-size: 55px;
  }
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.text-thin {
  font-weight: 300;
}

.subtitle-super {
  font-size: 25px;
}

.title-logo {
  margin-top: 20px;
}

.color-default {
  color: #747704;
}

.feature-title {
  color: #bcbbbb;
  font-size: 40px;
  font-weight: 500;
}

.featured-works {
  width: 100%;
}

.featured-article {
  text-align: center;
}

.featured-article {
  padding-left: 0px;
  padding-right: 10px;
}

.featured-article:last-of-type {
  padding-right: 0;
}

.article-image {
  width: 100%;
}

.feat-title {
  font-size: 30px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.feat-link {
  font-size: 20px;
}

.img-logo {
  min-width: 80px;
  margin-top: 30px;
  margin-left: 10px;
}

.article-link {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-border {
  border-bottom: 5px solid #7d97ad;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
